@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --clr-white: #FFF;
    --clr-black: #000;
    --clr-blue-950: #242A45;
    --clr-blue-600: #5267DF;
    --clr-grey-600: #5B6074;
    --clr-grey-50: #F7F7F7;
    --clr-red-400: #FA5959;

    --spacing-0: 0rem;
    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1500: 7.5rem;
}

/*General Styles and CSS Reset*/
*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    background-color: var(--clr-white);
    font-family: "Rubik", sans-serif;
    padding: 0 var(--spacing-400);
}
body.no-scroll{
    overflow: hidden;
}
h2{
    text-align: center;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 135%;
    color: var(--clr-blue-950);
}
p{
    text-align: center;
    font-size: .9375rem;
    line-height: 165%;
    color: var(--clr-grey-600);
    font-weight: 400;
}
hr{
    border:0;
    background-color: #979797;
    height: 1px;
}
.hidden{
    display: none!important;
}
.primary-button{
    background-color: var(--clr-blue-600);
    padding: .5625rem .9063rem;
    border-radius: .3125rem;
    text-decoration: none;
    color: var(--clr-white);
    box-shadow: 0 .5rem .5rem -0.25rem hsla(231, 58%, 55%,.5);
    text-align: center;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 200%;
    width: fit-content;
}
.primary-button:hover{
    background-color: var(--clr-white);
    color: var(--clr-blue-600);
    outline: .125rem var(--clr-blue-600) solid;
    outline-offset: -0.125rem;
}
.secondary-button{
    background-color: var(--clr-grey-50);
    padding: .5625rem .9063rem;
    border-radius: .3125rem;
    text-decoration: none;
    color: var(--clr-grey-600);
    box-shadow: 0 .5rem .5rem -0.25rem hsla(231, 58%, 55%,.5);
    text-align: center;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 200%;
    width: 100%;
}
.secondary-button:hover{
    background-color: var(--clr-white);
    color: var(--clr-grey-600);
    outline: .125rem var(--clr-grey-600) solid;
    outline-offset: -0.125rem;
}
/*Header Styles*/
.header-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-500) 0;
}
.header #hamburger-icon{
    height: .9375rem;
    width: 1.125rem;
}
#hamburger-icon:hover{
    cursor: pointer;
}

/* Nav Styles*/
.mobile-nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(229, 31%, 21%,.95);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    padding: var(--spacing-500) var(--spacing-400);
}
.mobile-nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-nav ul{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
.mobile-nav hr{
    background-color: hsla(0, 0%, 59%, .4);
}
.mobile-nav li{
    list-style: none;
}
.mobile-nav a{
    display: inline-block;
    width: 100%;
    color: var(--clr-white);
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    line-height: 17px;
    letter-spacing: .1444rem;
}
.nav-button{
    background-color: transparent;
    outline: 2px solid var(--clr-white);
    padding: .9375rem;
    border-radius: .3125rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.0625rem;
    letter-spacing: .1444rem;
}
.nav-button:hover{
    background-color: var(--clr-white);
    color: var(--clr-blue-950);
}
.mobile-nav .social-media-links{
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: var(--spacing-500);
}
.mobile-nav .social-media-links a{
    width: fit-content;
}
/*Hero Section*/
.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
}
.hero-illustration-container {
    position: relative;
    width: 100%;
}
.hero-illustration{
    position: relative;
    width: 100%;
    z-index: 2;
}
.hero-decoration-rectangle{
    scale: .85;
    position: absolute;
    width: 100%;
    top: 15%;
    right: -15%;
    z-index: 1;
    left: 3.4375rem;
    overflow: hidden;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-300);
}

.hero-buttons-group{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Features Section */
.features{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-400);
}
.features-header{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}
.features-tabs{
    text-align: center;

}
.features-tabs li{
    list-style-type: none;
    cursor: pointer;
    padding: 1.0625rem 0;
    color: var(--clr-grey-600);
    display: inline-block;
    font-size: .9375rem;
    line-height: 165%;
}
.features-tabs li:hover{
    color: var(--clr-blue-950);
}
.features-tabs li.selected{
    border-bottom: .25rem solid var(--clr-red-400);
    color: var(--clr-blue-950);
}
.features-content{
    padding: 2.75rem 0;
}
.tab-illustration-container {
    position: relative;
    width: 100%;
}
.tab1-decoration-rectangle{
    scale: 1;
    position: absolute;
    width: 100%;
    top: 15%;
    right: -15%;
    z-index: 1;
    left: -3.4375rem;
    overflow: hidden;
    transform: rotate(.5turn);
}
.tab1-illustration{
    position: relative;
    width: 100%;
    z-index: 2;
}
.tab2-decoration-rectangle{
    scale: 1;
    position: absolute;
    width: 100%;
    top: 15%;
    right: -15%;
    z-index: 1;
    left: -3.4375rem;
    overflow: hidden;
    transform: rotate(.5turn);
}
.tab2-illustration{
    scale: .9;
    position: relative;
    width: 100%;
    z-index: 2;
}
.tab3-decoration-rectangle{
    scale: 1;
    position: absolute;
    width: 100%;
    top: 15%;
    right: -15%;
    z-index: 1;
    left: -3.4375rem;
    overflow: hidden;
    transform: rotate(.5turn);
}
.tab3-illustration{
    scale: .85;
    position: relative;
    width: 100%;
    z-index: 2;
}
#tab1-content, #tab2-content, #tab3-content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    justify-content: space-between;
    align-items: center;
}
.download{
    padding-top: 8.3125rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.download-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.download-navigators{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.navigator-card{
    padding: var(--spacing-400);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    align-items: center;
    box-shadow: 0 .625rem 1.25rem -0.3125rem hsla(231, 58%, 55%, .15) ;
    border-radius: .9375rem;
    max-width: 17.5rem;
}
.navigator-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400);
}
.navigator-info img{
    width: 6.25rem;
    height: 6.25rem;
}