$clr-white: #FFF;
$clr-black: #000;
$clr-blue-950: #242A45;
$clr-blue-600: #5267DF;
$clr-grey-600: #5B6074;
$clr-grey-50: #F7F7F7;
$clr-red-400: #FA5959;

$spacing-0: 0rem;
$spacing-100: .5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-800: 4rem;
$spacing-900: 4.5rem;
$spacing-1500: 7.5rem;